[submodule "plugins/Amazons/lib/Amazons"]
	path = plugins/Amazons/backend
	url = https://github.com/Arc676/Amazons.git
[submodule "lomiri-compat"]
	path = lomiri-compat
	url = https://codeberg.org/nephros/lomiri-sfos-qml-compat
